# gradle
.gradle/
build/
out/
classes/

# eclipse

*.launch
/old
# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# claude

CLAUDE.md
.claude/settings.local.json
